<div>
        <!-- <header>
                <mat-toolbar>
                        <div class="search-div">
                                <mat-card class="search-bar">
                                        <button id="search-button" mat-icon-button>
                                                <mat-icon matSuffix>search</mat-icon>
                                        </button>
                                        <input class="form-control" type="text" name="search" autocomplete="off"
                                                placeholder="search ">
                                        <button class="search-button" mat-icon-button>
                                                <mat-icon matSuffix>clear</mat-icon>
                                        </button>
                                </mat-card>
                        </div>

                </mat-toolbar>
        </header> -->
        <div>
                <!-- <mat-drawer-container class="side-nav-container" autosize>
                        <mat-drawer #drawer class="sidenav-bar" mode="side">
                                <div>
                                        <div>
                                             <div>      
                                              <button class="sidebar-buttons" mat-stroked-button (click)="notes()">
                                                <mat-icon class="maticons"><img src="/assets/icons/emoji_objects-24px.svg"></mat-icon><span class="sidenavtext">Notes</span>
                                               </button>
                                            </div>
                                        </div>
                                      
                                
                                </div>
                        </mat-drawer>
                        
                </mat-drawer-container> -->
                <div class="view-content">
                                
                                <router-outlet></router-outlet>
                       </div>
        </div>
</div>