.side-nav-container {
    width: 100%;
    height: 600px;
  }
  
  .view-content {
    height: auto;
    width: 100%;
  }
  
  .sidenav-bar {
    border-right: 0px;
    width: 260px;
  }
  #keep-icon {
    margin-top: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  #keep-icon1 {
    margin-top: 5px;
      width: 30px;
      height: 30px;
      margin-left: 10px;
  }
  
  .sidenav-icon-div {
    width: 150px;
      display: flex;
      flex-direction: row;  
  }
  #fundo-text {
    margin-top: 5px;
    padding-left: 30px;
  }
   
  .search-div {
      margin-left: 7%; 
}

  .form-control {
    width: 90%;
    height: 25px;
    border: none;
    font-size: 16px;
    margin-top: -5px; 
  }

  .search-button,#search-button {
    margin-top: -11px;
  }

  input:focus,select:focus {
    outline: none;
  }  

  .search-bar {
    display: flex;
    flex-direction: row;
    width: 52vw;
    height: 15px;
    border-radius: 5px;  
  }
  .profile-button {
    margin-left: auto;
  }

  .refresh-stream-setting {
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
  }
  .left-header {
    padding-right: 15px;
    margin-top: 20px;
  }
  .sidebar-buttons {
    width: 245px;
    height: 50px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: left;
    font-family: sans-serif;
  }

  .sidebar-buttons:focus {
    background-color: #ffecb3
  }
  mat-drawer-container {
    width: 100%;
  }

  .sidenavtext {
    padding-left: 50px;
    font-weight: bold;
  } 
  .label-div {
    color: rgb(82, 85, 88);
    padding: 18px 0px 0px 15px;
    font-size: 12px;
    font-family: sans-serif;
  }

.matmenuImage{
  min-width: 80px;
}

.div-img-myself{
  border-radius: 50%;
  width:40px;
  height:40px;
}
  
 


