<div>
<div class="notes-div">   
        <mat-card class="note-mat-card" [ngStyle]="{'background-color':note.color}">
                     <div fxLayout="row">
                        <input class="title-text" type="text" [(ngModel)]="note.noteTitle" [ngStyle]="{'background-color':note.color}"/>
                        <button mat-icon-button (click)="pinUnpin(note.id)"><img class="pin_image" src="/assets/images/pin.png"></button>
                     </div>
                        <textarea  
                             [(ngModel)]="note.description" 
                             cdkTextareaAutosize
                             #autosize="cdkTextareaAutosize"
                             cdkAutosizeMinRows="1"
                             cdkAutosizeMaxRows="auto"
                             [ngStyle]="{'background-color':note.color}">
                        </textarea>
                        <div class="dailogbox-toolbar">
                                <div class="note-toolbar">
                                   <button mat-button (click)="deleteNote(note.id)">delete</button>
                                </div>
                                <div class="closebutton">
                                <button mat-button (click)="closeDialog()">
                                        Close
                                </button>
                                </div>
                        </div>
       </mat-card>
       </div>
    </div>
