 
    <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
      <mat-card > 
        <form [formGroup]="registerForm">
          <div class="title">
          <h2>REGISTRATION</h2>
         </div>
          <div class="form-field" > 
            <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter first name" formControlName="firstName">
                    <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
                        Please fill out this field.
                    </mat-error>
                  </mat-form-field>
           </div>  
             
           <div class="form-field"> 
            <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter last name" formControlName="lastName">
                    <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
                        Please fill out this field.
                    </mat-error>
                  </mat-form-field>
           </div>

            <div class="form-field">
                    <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Enter email" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="registerForm.get('email').hasError('required')">
                                Please fill out this field.
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('email').hasError('email')">
                                Email must contains '@',provider,dot(.),domain.
                            </mat-error>
                    </mat-form-field>
            </div>

            <div class="form-field">
            <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Enter mobile number" formControlName="mobileNumber">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="registerForm.get('mobileNumber').hasError('required')">
                        Please fill out this field.
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('mobileNumber').hasError('pattern')">
                        It is not a valid mobile number.
                    </mat-error>
                  </mat-form-field>
            </div>

            <div class="form-field">
            <!-- <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter password" formControlName="password">
                    <mat-icon matSuffix>visibility_off</mat-icon>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <mat-error *ngIf="registerForm.get('password').hasError('required')">
                    Please fill out this field.
                </mat-error>
                <mat-error *ngIf="registerForm.get('password').hasError('minLength')">
                    Password min length must be 6 digit.
                </mat-error>
              </mat-form-field>
            </div>

            <div class= "link-div">
             <button class = "reset" mat-rised-button color="primary" type="reset">Reset</button>
            <div class="button">
            <button mat-raised-button color="primary" (click) = "onSubmit()">submit</button>
            </div>
          </div>
          <div class="link">
            <a routerLink = '/login' routerLinkActive = 'active'>Login</a>/
            <a routerLink = '/forgetPassword' routerLinkActive = 'active'>Forget Password</a>
          </div>
         </form>
        </mat-card>
        </div>
    